.cover__background {
  background-image: url(../../../images/cover-dmitrii-vaccinium-22833-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 62.5vw;
  margin: 0 auto;
  padding: 35px 0 33px;
  box-sizing: border-box;
  position: relative;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s linear;
  z-index: 1;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__background {
    padding: 115px 0 115px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    padding: 195px 0 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    padding: 245px 0 245px;
    width: 1184px;
    height: 740px;
  }
}
